<ion-view title="About">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content id="about" class="padding">
		<div ng-repeat="entry in info" class="row" ng-show=!entry.hidden>
			<div class="col entryLabel"> {{entry.label}}: </div>
			<div ng-bind-html="entry.value" class="col col-75 entryValue"></div>
		</div>
		<br>
		<a  target="_blank" href="https://github.com/holisticon/flynn-book-scanner" class="button icon-left ion-social-github"><small>View project on</small> GitHub</a>
		<br>
		<br>
		Sponsored by
		<br>
		<a href="https://www.holisticon.de"><img src="images/holisticon-logo-standard.png"></a>
		<br>
		<br>
	</ion-content>
</ion-view>