<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content id="about">		
	<div class="list">
		<a class="item item-icon-left" target="_blank" href="https://github.com/holisticon/flynn-book-scanner">
	    	<i class="icon ion-code"></i>
	    	Sources
	  	</a>	
		<a class="item item-icon-left" target="_blank" href="https://github.com/holisticon/flynn-book-scanner/issues">
	    	<i class="icon ion-pound"></i>
	    	Issues
	  	</a>		  	         		
 	</div>
	<footer>Sponsored by <a target="_blank" href="http://www.holisticon.de">Holisticon AG</a></footer>
	</ion-content>
</ion-view>