<ion-view title="Add a book">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content id="addBook" class="padding">
  	<form name="searchForm" type="search" novalidate ng-submit="search()">
		<h2>Search a book</h2>
       	<div name="searchData">                        	
        	<label class="item-input">
		  		<span class="input-label">ISBN</span>
		  		<input id="isbn" type="tel" data-ng-model="searchQuery.isbn" placeholder="ISBN of the book">
			</label>                        	
        	<label class="item-input">
		  		<span class="input-label">Keyword</span>
		  		<input id="keyword" type="text" data-ng-model="searchQuery.keyword" placeholder="Search for books that contain this text ">
			</label>
		</div>
        <button type="submit" class="button button-positive"> Search</button>
        <button ng-click="scan()" class="button"> Scan ISBN</button>
        <p class="help-block warning" ng-show="infoMsg">{{infoMsg}}</p>
        <div ng-show="!books" class="paragraphs" style="margin: 10px 0">No book found</div>
        <ion-list class="list card" ng-show="books">
        	<br>
            <div class="item item-divider">
	          Search Results
	        </div> 
            <ion-item ng-repeat="book in books" class="item" ng-click="selectBook(book)">
                <h3>{{book.value.volumeInfo.title}}</h3>
                <p>{{book.value.volumeInfo.subtitle}}</p>
                <p> by <span ng-repeat="author in book.value.volumeInfo.authors">{{author}}, </span> {{book.value.volumeInfo.publishedDate}}
                    <br>
                </p>
            </ion-item>
		</ion-list>
        <script id="book_modal.html" type="text/ng-template">
  			<ion-modal-view>
    			<ion-header-bar>
      				<h1 class="title">{{selectedBook.value.volumeInfo.title}}</h1>
        			<button class="button button-clear" ng-click="closeModal()">Cancel</button>
    			</ion-header-bar>
    			<ion-content class="modal-background">
               		<div class="padding">
						<h2>{{selectedBook.value.volumeInfo.subtitle}}</h2>           	                       	
        				<label class="item-input" ng-show="selectedBook.value.volumeInfo.imageLinks.thumbnail" >
		  					<span class="input-label">Thumbnail</span>				  			
                    		<img class="img-thumbnail" alt="book image"
							 ng-src="{{selectedBook.value.volumeInfo.imageLinks.thumbnail}}" />   		
						</label>                  	                       	
        				<label class="item-input">
		  					<span class="input-label">Pages</span>
				  			<span class="input-label">{{selectedBook.value.volumeInfo.pageCount}}</span>  		
						</label>
        				<label class="item-input">
		  					<span class="input-label">ISBN-13</span>
				  			<span class="input-label">{{selectedBook.value.volumeInfo.industryIdentifiers[1].identifier}}</span>  		
						</label>
        				<label class="item-input" ng-show="selectedBook.authorInfo">
		  					<span class="input-label">Author</span>
				  			<span class="input-label">{{selectedBook.authorInfo}}</span>  		
						</label>
        				<label class="item-input" ng-show="selectedBook.volumeInfo.publisher">
		  					<span class="input-label">Publisher</span>
				  			<span class="input-label">{{selectedBook.value.volumeInfo.publisher}}  ({{selectedBook.value.volumeInfo.publishedDate}})</span>  		
						</label>
						<p class="help-block warning" ng-show="infoMsg">{{infoMsg}}</p>    
        				<label class="item-input">
		  					<span class="input-label">Amount</span>
		  					<input type="number" data-ng-model="selectedBook.count" placeholder="Amount of the book" required min="1">
						</label>                       	
        				<label class="item-input">
		  					<span class="input-label">Owner</span>
                            <input type="text" data-ng-model="selectedBook.value.owner" placeholder="Owner of the book" required min="1">
						</label>
        				<label class="item-input">
		  					<span class="input-label">Bookshelf</span>
                            <input type="text" data-ng-model="selectedBook.value.bookshelf" placeholder="Location of the book">
						</label>
        				<label class="item-input">
		  					<span class="input-label">Comment</span>
                            <input type="text" data-ng-model="selectedBook.value.comment">
						</label>                                   
                        <br>
                        <button button="button" ng-click="save(selectedBook)" class="button button-positive">
							Save
						</button>
                    </div>
    			</ion-content>
  			</ion-modal-view>
		</script>
            
        </form>
	</ion-content>
</ion-view>