<div content-for="title">
  <span>Books</span>
</div>

            
<div class="scrollable">
    <div class="scrollable-content container section">
        <form>
        	<div content-for="section-menu">
                <button class="btn btn-default" ng-click="load()"> <i class="fa fa-refresh"></i> Refresh</button>
            </div>
            <div bs-panel class="panel">
				<div ng-repeat="book in books">
					<a ng-click="showBookDetails(book)" class="list-group-item">    
						<div>                			
						<h3>{{book.value.volumeInfo.title}}</h3>
						<p>{{book.value.volumeInfo.subtitle}}</p>
						<p> by <span ng-repeat="author in book.value.volumeInfo.authors">{{author}}, </span> {{book.value.volumeInfo.publishedDate}}
							<br>
            			</p>
            			</div>
					</a>
				</div>
			</div>   
			<div overlay="overlaySearchEntry">
				<h4 class="overlay-title">{{selectedBook.volumeInfo.title}}</h4>
				<h5>{{selectedBook.volumeInfo.subtitle}} ({{selectedBook.volumeInfo.pageCount}} pages)</h5>
				<div class="hidden-xs">
					<img id="img1" class="img-thumbnail" alt="book image" ng-show="selectedBook.volumeInfo.imageLinks.thumbnail" ng-src="{{selectedBook.volumeInfo.imageLinks.thumbnail}}" />
				</div>
				<div class="text-left">
					<div class="row">
						<div class="col-xs-3">
							<label>ISBN-13:</label>
						</div>
						<div class="col-xs-9">
							<div>{{selectedBook.volumeInfo.industryIdentifiers[1].identifier}}</div>
						</div>
					</div>
					<div class="row" ng-show="selectedBook.authorInfo">
						<div class="col-xs-3">
							<label>Author:</label>
						</div>
						<div class="col-xs-9">
							<div>{{selectedBook.authorInfo}}</div>						
						</div>
					</div>
					<div class="row" ng-show="selectedBook.volumeInfo.publisher">
						<div class="col-xs-3">
							<label>Publisher:</label>
						</div>
						<div class="col-xs-9">
							<div>{{selectedBook.volumeInfo.publisher}} ({{selectedBook.volumeInfo.publishedDate}}) </div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<label>Amount:</label>
						</div>
						<div class="col-xs-9">
							<div>{{selectedBook.count}}</div>
						</div>
					</div>										
					<br>
				</div>
				<p toggle="off" bubble target="overlaySearchEntry">
					<span class="btn btn-primary">Ok</span>
				</p>
			</div>  
		</form>
	</div>
</div>
<!-- Thumbnail (big)
Autors (alle)
Title
Subtitle
Publisher
Publish Date
ISBN
PrintPageCount
Description -->