<div content-for="title">
	<span>Books</span>
</div>

<input type="text" class="form-control app-search" placeholder="Type keywords to search ..."
	data-ng-model="searchQuery.fullTextSearch" ng-change="search()"/>

			
<div class="scrollable">
	<div class="scrollable-content section">
		<form id="books" data-ng-init="load()">
			<div content-for="section-menu">
				<button class="btn btn-default" ng-click="load()">
					<i class="fa fa-refresh"></i> Refresh
				</button>
			</div>
			<div ng-if="!books && !searching" class="list-group-item">No books found.</div>
			<div ng-if="searching" class="list-group-item">Searching ...</div>
			<div ng-repeat="book in books">
				<a class="list-group-item">
					<div class="pull-right">
						<button button="button" ng-click="showBookDetails(book)" class="btn btn-block btn-info">
							<i class="fa fa-info">  Info </i>
						</button >
						<button button="button" ng-click="open(book)" class="btn btn-block">
							<i class="fa fa-bars"> Actions </i> 
						</button >
						<script type="text/ng-template" id="bookActions.html">
					        <div class="modal-header">
					            <h3 class="modal-title">Select an action</h3>
					        </div>
					        <div class="modal-body">
					        	Book: {{book.value.volumeInfo.title}}
								<button button="button" ng-click="remove()" class="btn btn-block btn-danger">
									<i class="fa fa-trash-o">  Delete </i> 
								</button >
					        </div>
					        <div class="modal-footer">
					            <button class="btn" ng-click="cancel()">Cancel</button>
					        </div>
					    </script>
					</div>
					<div>
						<h3>{{book.value.volumeInfo.title}}</h3>
						<p>{{book.value.volumeInfo.subtitle}}</p>
						<p>	by <span ng-show="book.value.volumeInfo.authors" ng-repeat="author in book.value.volumeInfo.authors">
							{{author}}, </span>
							{{book.value.volumeInfo.publishedDate}} <br>
						</p>
					</div>
				</a>
			</div>
			<div overlay="overlaySearchEntry">
				<h4 class="overlay-title">{{selectedBook.value.volumeInfo.title}}</h4>
				<h5>{{selectedBook.value.volumeInfo.subtitle}} ({{selectedBook.value.volumeInfo.pageCount}} pages)</h5>
				<img id="bookThumbnail" class="img-thumbnail" alt="book image"
					ng-show="selectedBook.value.volumeInfo.imageLinks.smallThumbnail"
					ng-src="{{selectedBook.value.volumeInfo.imageLinks.smallThumbnail}}"/>
				<div class="text-left">
					<div class="row">
						<div class="col-xs-3">
							<label>ISBN:</label>
						</div>
						<div class="col-xs-9">
							<div>{{selectedBook.value.volumeInfo.industryIdentifiers[1].identifier}}</div>
						</div>
					</div>
					<div class="row" ng-show="selectedBook.authorInfo">
						<div class="col-xs-3">
							<label>Author:</label>
						</div>
						<div class="col-xs-9">
							<div>{{selectedBook.authorInfo}}</div>
						</div>
					</div>
					<div class="row" ng-show="selectedBook.value.volumeInfo.publisher">
						<div class="col-xs-3">
							<label>Publisher:</label>
						</div>
						<div class="col-xs-9">
							<div>{{selectedBook.value.volumeInfo.publisher}} ({{selectedBook.value.volumeInfo.publishedDate}})</div>
						</div>
					</div>
					<div class="row" ng-show="selectedBook.value.bookshelf">
						<div class="col-xs-3">
							<label>Bookshelf:</label>
						</div>
						<div class="col-xs-9">
							<div>{{selectedBook.value.bookshelf}}</div>
						</div>
					</div>
					<div class="row" ng-show="selectedBook.value.owner">
						<div class="col-xs-3">
							<label>Owner:</label>
						</div>
						<div class="col-xs-9">
							<div>{{selectedBook.value.owner}}</div>
						</div>
					</div>		
					<div class="row">
						<div class="col-xs-3">
							<label>Amount:</label>
						</div>
						<div class="col-xs-9">
							<div>{{selectedBook.count}}</div>
						</div>
					</div>			
					<br>
					<div class="panel panel-default" ng-show="selectedBook.value.volumeInfo.description">
				        <div class="panel-heading" toggle target="collapseDesc">
				          <h6 class="panel-title"> Description </h6>
				        </div>
				        <div id="collapseDesc" toggleable active-class="in" class="panel-collapse collapse">
				          <div class="panel-body">
				            {{selectedBook.value.volumeInfo.description}}
				          </div>
				        </div>
				    </div>	
				</div>
				<p toggle="off" bubble target="overlaySearchEntry">
					<span class="btn btn-primary">Ok</span>
				</p>
			</div>
		</form>
	</div>
</div>
<!-- Thumbnail (big)
Autors (alle)
Title
Subtitle
Publisher
Publish Date
ISBN
PrintPageCount
Description -->