<div content-for="title">
  <span>Add a book</span>
</div>
<div class="scrollable">
    <div class="scrollable-content container section">
        <form>
            <div bs-panel class="panel">
                <input class="form-control" type="tel" placeholder="ISBN" data-ng-model="isbn">
            </div>
            <div bs-panel class="form-actions">
                <button ng-click="scan()" class="btn"><i class="fa fa-barcode"></i>  Scan</button>
                <button ng-click="search()" class="btn btn-primary"><i class="fa fa-search"></i>  Search</button>
            </div>
            <div bs-panel class="panel">
                <div ng-if="!books" class="paragraphs" style="margin: 10px 0">No book found</div>
                <div ng-repeat="book in books" class="paragraphs" style="margin: 10px 0">
                    <img style="float: left; margin: 0 5px 5px 0" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" />
                    <h2>{{book.volumeInfo.title}}</h2>
                    <strong>{{book.volumeInfo.subtitle}}</strong>


                    by <em ng-repeat="author in book.volumeInfo.authors">{{author}},</em> {{book.volumeInfo.publisher}}, {{book.volumeInfo.publishedDate}}.

                    <p>
                        ISBN-13: {{book.volumeInfo.industryIdentifiers[1].identifier}}
                    </p>

                    <h4 ng-show="book.volumeInfo.description">Beschreibung</h4>
                    <p>
                       {{book.volumeInfo.description}}
                    </p>
                    <div class="input-group input-group-lg" style="width: 100%">
                        <input class="form-control" type="number" ng-model="book.count" required min="1">
                    </div>
                    <button ng-click="save(book)" class="btn btn-primary"><i class="fa fa-save"></i>  Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- {{book}} -->



<!-- Thumbnail (big)
Autors (alle)
Title
Subtitle
Publisher
Publish Date
ISBN
PrintPageCount
Description -->