<ion-side-menus>
	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear">
				<i class="icon ion-chevron-left"></i> Back
			</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left" expose-aside-when="large">
		<header class="bar bar-header bar-stable">
			<h1 class="title">Flynn</h1>
		</header>
		<ion-content class="has-header" scroll="false">
			<ion-list ng-show="settings.valid">
				<ion-item nav-clear menu-close href="#/app/books">
					Books
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/book/add">
					Add a book
				</ion-item>
			</ion-list>
			<br>
			<br>
			<ion-list>
				<ion-item nav-clear menu-close href="#/app/settings">
					Settings
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/about">
					About
				</ion-item>
			</ion-list>
			<br>
			<br>
			<ion-list ng-show="settings.appConfig.dev">
				<ion-item nav-clear menu-close href="#/app/dev">
					Dev
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>