<h1 class="app-name">Flynn</h1>
<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group" toggle="off" bubble target="mainSidebar">
			<a class="list-group-item" href="#/">Books<i class="fa fa-chevron-right pull-right"></i></a> 
			<a class="list-group-item" href="#/book">Add a book<i class="fa fa-chevron-right pull-right"></i></a>
			<a class="list-group-item" href="#/settings">Settings<i class="fa fa-chevron-right pull-right"></i></a>
		</div>
	</div>
</div>
 <div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
      <a target="_blank" href="https://github.com/holisticon/flynn-book-scanner" class="btn btn-navbar"><i class="fa fa-github fa-navbar"></i> Sources</a>
      <a target="_blank" href="https://github.com/holisticon/flynn-book-scanner/issues" class="btn btn-navbar"><i class="fa fa-exclamation-circle fa-navbar"></i> Issues</a>
    </div>

	<footer>© Copyright Holisticon</footer>
</div>