<div content-for="title">
  <span>Settings</span>
</div>
<div class="scrollable">
    <div class="scrollable-content container section">
        <form>
            <div bs-panel class="panel">        
                <div class="form-group row">
                    <div class="form-control-wrapper col-xs-12 col-sm-12 col-lg-12">
                        <input bs-form-control type="url" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-ng-model="couchdb" label="CouchDB Server"
                            label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control"
                            placeholder="URL of the CouchDB server" required>
                        <input bs-form-control type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"  data-ng-model="user" label="User"
                            label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control"
                            placeholder="User" required>
                        <input bs-form-control type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"  data-ng-model="password" label="Password"
                            label-class="col-xs-3 col-sm-2 col-lg-1" class="ng-scope ng-pristine ng-valid needsclick form-control"
                            placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div bs-panel class="form-actions">
                <button ng-click="save()" class="btn btn-primary"><i class="fa fa-save"></i>  Save</button>
            </div>
        </form>
    </div>
</div>
