<ion-view title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <form name="settingsForm" novalidate ng-submit="save()">
    	<ion-tabs class="tabs-positive tabs-icon-left">
     		<ion-tab title="General" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
  		         <ion-content id="general" class="padding">
  		         	<h2>General</h2>
  		         	<div>
                     	<p>Define here default values to use, like default owner of Books.</p>
                     	<div class="list">
	                     	<label class="item item-input item-stacked-label">
						  		<span class="input-label">Default Owner</span>
						  		<input type="text" class="form-control" data-ng-model="flynn.activeProfile.owner" placeholder="Default for owner value"">
							</label>
						</div>
					</div>
		            <br>
                    <button type="submit" ng-disabled="settingsForm.$invalid" class="button button-positive">
                    		Save
                   	</button>  
                 </ion-content>
     		</ion-tab>
     		<ion-tab title="Server" icon-on="ion-ios7-refresh" icon-off="ion-ios7-refresh-outline">
 				<ion-content id="server" class="padding">
                        <h2>Server</h2>  
                        <p>If you like to syncronize with a remote CouchDB activate the remote sync here:</p>     
                        <label class="toggle">
						   <input type="checkbox" data-ng-model="flynn.activeProfile.remotesync">
						   <div class="track">
						     <div class="handle"></div>
						   </div>
						</label>     
                        <div name="serverDetails" ng-show="flynn.activeProfile.remotesync" class="list">                     	
	                     	<label class="item item-input item-stacked-label">
						  		<span class="input-label">CouchDB server</span>
						  		<input id="syncURL" type="url" data-ng-model="flynn.activeProfile.couchdb" placeholder="URL of the CouchDB server"
						  			   autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" 
						  		 	   ng-required="flynn.activeProfile.remotesync === true">
							</label>
	                     	<label class="item item-input item-stacked-label">
						  		<span class="input-label">User</span>
						  		<input id="syncUser" type="text" data-ng-model="flynn.activeProfile.user" placeholder="User"
						  			   autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" 
						  		 	   ng-required="flynn.activeProfile.remotesync === true">
							</label>
	                     	<label class="item item-input item-stacked-label">
						  		<span class="input-label">Password</span>
						  		<input id="syncPassword" type="password" data-ng-model="flynn.activeProfile.password" 
						  			   autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" 
						  		 	   ng-required="flynn.activeProfile.remotesync === true">
							</label> 
		               	</div> 
		               	<br>
                        <button type="submit" ng-disabled="settingsForm.$invalid" class="button button-positive">
                        	Save
                        </button>
                        <button type="button" ng-click="sync()" ng-show="flynn.activeProfile.remotesync" class="button">
                        	Sync
                        </button>   
                    </ion-content>
  			</ion-tab>
     		<ion-tab title="Logs" icon-on="ion-ios7-speedometer" icon-off="ion-ios7-speedometer-outline">
 				<ion-content id="logs" class="padding">
                    <h2>Log Entries</h2> 
                    <label class="item item-input item-select">
						<div class="input-label">
					      Loglevel
					    </div>
					    <select data-ng-model="logging.selectedLogLevel" ng-options="logLevel.name for logLevel in logging.logLevels" ng-change="filterLogs()">
                        	<option value="">All logs</option>
					    </select>
				  	</label>
                  	<button type="button" ng-click="clearLogs()" class="button button-assertive">Clear logs</button>
                    <ion-list class="list card">
                     <ion-item ng-repeat="logEntry in logs | orderBy:'timestamp':true" class="item">
                         {{logEntry.timestamp | date: 'dd.MM.yyyy HH:mm'}} - {{logEntry.level}} <br> {{logEntry.details}}
                     </ion-item>
                 	</ion-list>  
               </ion-content>
  			</ion-tab>
     	</ion-tabs>
     </form>
</ion-view>
