node_modules
dist
app/.tmp
app/.sass-cache
atlassian-ide-plugin.xml
.idea
*.iml
*.ipr
*.iws
*.log
app/node_modules
app/src/bower_components
app/npm-debug.log
app/www
app/platforms/android/ant-build/*
app/platforms/android/CordovaLib/*
app/platforms/android/ant-gen/*
app/platforms/android/res/*
app/platforms/ios/Flynn/config.xml
app/platforms/ios/Flynn.xcodeproj/project.xcworkspace/xcuserdata/*
app/platforms/android/assets/www/bower_components/*
app/platforms/ios/www/bower_components/*
app/platforms/ios/www/*
app/platforms/android/assets/www/*
