dist
app/cache/*
app/.tmp
app/.sass-cache
atlassian-ide-plugin.xml
.idea
*.iml
*.ipr
*.iws
*.log
app/node_modules
app/src/bower_components
app/npm-debug.log
app/www
app/bin/*
app/target/*
app/platforms/android/.gradle/
app/platforms/android/ant-build/*
app/platforms/android/ant-gen/*
app/platforms/android/release-signing.properties
app/platforms/android/android_keystore
app/platforms/android/CordovaLib/build/*
app/platforms/android/build/*
app/platforms/android/res/xml/config.xml
app/platforms/ios/Flynn/config.xml
app/platforms/ios/Flynn.xcodeproj/project.xcworkspace/xcuserdata/*
app/platforms/android/assets/www/bower_components/*
app/platforms/ios/www/bower_components/*
app/platforms/ios/www/*
app/platforms/android/assets/www/*
app/platforms/windows/www/*
app/platforms/windows/obj/Debug/*
app/platforms/windows/Bin/Debug/*
app/bower_components/*
app/src-gen/*
app/platforms/ios/Flynn.xcodeproj/xcuserdata/*
app/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
app/node/*
app/platforms/ios/Flynn.xcodeproj/project.xcworkspace/*
