language: node_js
node_js:
  - 0.10
before_install: 
  - gem install compass
  - npm install -g grunt-cli
  - npm install -g bower
before_script:
  - cd app
  - npm install
  - bower install
script: 
  - pwd 
  - grunt
