doctype xml
document
	formTemplate
		title Seamly is here
		textField(id='naam', secure='true')
		description wat meer uitleg
		footer
			button(id='naamButton')
				text Verstuur
		button(id='updateButton')
			text Update now
		button(id='cancelButton')
			text cancel
