doctype xml
document
	divTemplate
		header
			title(style="tv-position: center;") Title in the center of the screen
		description(style="tv-text-style: subtitle; font-size: 128; background-color: rgba(1,1,1,0); color: rgba(255,255,255,1); tv-position: center; margin: 10 0 0; tv-text-max-lines: 10; max-width: 800;") some description...
		img(style="tv-img-treatment: circle; tv-position: bottom; tv-align: center; margin-bottom: 250px;" src="http://imavex.vo.llnwd.net/o18/clients/urbanfarm/images/Fruit/Catawaba_Red_Grape_Plants.jpg" width="400" height="400")
