<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2013-2014 appPlant UG

Copyright (c) 2015 Martin Reinhardt

Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
id="cordova-plugin-email"
version="1.1.0">

    <name>EmailComposer</name>
    <description>
        Provides access to the standard interface that manages.
        the editing and sending an email message
    </description>
    <author>Martin Reinhardt, Sebastián Katzer</author>
    <license>Apache 2.0</license>
    <keywords>cordova,email</keywords>
    <repo>https://github.com/hypery2k/cordova-email-plugin.git</repo>
    <issue>https://github.com/hypery2k/cordova-email-plugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>

    <!-- interface -->
    <js-module src="www/email_composer.js" name="EmailComposer">
        <clobbers target="cordova.plugins.email" />
        <clobbers target="plugin.email" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="EmailComposer">
                <param name="ios-package" value="APPEmailComposer"/>
            </feature>
        </config-file>

        <header-file src="src/ios/APPEmailComposer.h" />
        <source-file src="src/ios/APPEmailComposer.m" />

        <framework src="MessageUI.framework" weak="true" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EmailComposer">
                <param name="android-package"
                value="de.martinreinhardt.cordova.plugins.email.EmailComposer"/>
            </feature>
        </config-file>

        <source-file
        src="src/android/EmailComposer.java"
        target-dir="src/de/martinreinhardt/cordova/plugins/email" />

    </platform>

    <!-- amazon-fireos -->
    <platform name="amazon-fireos">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EmailComposer">
                <param name="android-package"
                value="de.martinreinhardt.cordova.plugins.email.EmailComposer"/>
            </feature>
        </config-file>

        <source-file
        src="src/android/EmailComposer.java"
        target-dir="src/de/martinreinhardt/cordova/plugins/email" />

    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="EmailComposer">
                <param name="wp-package" value="EmailComposer"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/EmailComposer.cs" />
        <source-file src="src/wp8/Options.cs" />
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/EmailComposerProxy.js" name="EmailComposerProxy">
            <merges target="" />
        </js-module>
    </platform>
</plugin>
