
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-weight: 500;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #666666;
}

a.list-group-item {
    color: #1952A0;
}

.navbar-app {
    color: #1952A0;
}

.panel-title {
    color: #666666;
    font-weight: 500;
    font-size: 20px;
}

small, .small {
    color: #6A7A9A;
}

.navbar-app .btn-navbar, .navbar-app .btn{
color: #1952A0;
}

footer {
    padding: 5px;
}


.feature-icon {
    font-size: 44px;
    padding: 5px;
    color: #DE0027;
    text-align: center;
    opacity: .8;
}


.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

/* Error handling and validation */

.pristine.true, .dirty.true, .invalid.true {
  background: gray;
}
.valid.false {
  background: red;
}
.valid.true {
  background: green; 
}
.error {
  color: red; 
}
.warning {
  color: orange; 
}
