// Core variables and mixins
@import "variables";
@import "mixins";

.bold {
  font-weight: bold;
}

//
// Labels
// --------------------------------------------------

.entryLabel {
  display: inline;
  padding: .2em .6em .3em;
  font-weight: bold;
  color: $label-color;
  vertical-align: baseline;
  border-radius: .25em;

  // Add hover effects, but only for links
  &[href] {
    &:hover,
    &:focus {
      color: $label-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }
}

.item-input {
	padding: 6px 0 0 0
}

.entryValue {
  width: 100%;
  padding: .2em .6em .3em;
  white-space: normal;
  
  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }
  
  ol, ul {
	list-style: initial;
	
	li {
		margin: 0px 0px 0px 40px;
		padding: 0;
	}	
  }
}


.menu-left .bar-header {
  background-color: #153D8E;
  
  .title {
  	color: #ffffff;
  }
}

// tabs
ion-tabs { 
	.has-tabs {
		top: 54px;
	} 
}
.platform-browser {
	ion-tabs { 
		.has-tabs {
			top: 44px;
		} 
	}
}

@media screen and (orientation:landscape)  {
	.platform-ios.platform-cordova:not(.fullscreen){
	 	.bar-header:not(.bar-subheader) {
   			height: 40px;
    		orientation: portrait;
		}
		.bar-header:not(.bar-subheader) > * {
    		margin-top: 0px;
    	}
    	.has-header, .bar-subheader {
    		top: 44px;
		}
		.has-subheader {
    		top: 88px;
		}
	}
	ion-tabs .has-tabs {
		top: 44px;
	}
}

.menu-left .scroll-content {
  background-color: #DEDEDE;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
  border-color: #145fd7;
  background-color: #153D8E;
}

.modal-background {
	background: #CACACA;
}

.item-complex {
  left: 0;
  right: 0;
}

.item-thumbnail-left .item-content > img:first-child{
  width: auto;
}

.button.button-positive {
  border-color: #145fd7;
  background-color: #153D8E;
}

.button.button-positive.active, .button.button-positive.activated {
  border-color: #145fd7;
  background-color: #4a87ee;
}

.item-stacked-label .input-label{
  width: 100%;
}

.item-input input {
  background-color: #F2F2F2;
  padding-left: 10px;
  padding-right: 10px
}

.help-block.warning {
  text-align: center;
  font-weight: bold;
  color: $warning-color;
  font-size: 16px;
}

input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
  background-color: #ffffff;
}


// fix for side-menu issue on android, see https://github.com/driftyco/ionic/issues/2122

header.bar {
	 /*CSS transitions*/
	 -o-transition-property: none !important;
	 -moz-transition-property: none !important;
	 -ms-transition-property: none !important;
	 -webkit-transition-property: none !important;
	 transition-property: none !important;
	 /*CSS transforms*/
	 -o-transform: none !important;
	 -moz-transform: none !important;
	 -ms-transform: none !important;
	 -webkit-transform: none !important;
	 transform: none !important;
	 /*CSS animations*/
	 -webkit-animation: none !important;
	 -moz-animation: none !important;
	 -o-animation: none !important;
	 -ms-animation: none !important;
	 animation: none !important;
}