<div class="paragraphs" style="margin: 10px 0; width: 100%">
    <form>
        <div class="input-group input-group-lg" style="width: 100%">
            <input class="form-control" type="text" data-ng-model="couchdb" placeholder="URL of CouchDB" required /><br />
        </div>
        <div class="input-group input-group-lg" style="width: 100%">
            <input class="form-control" type="text" data-ng-model="user" placeholder="User" required /><br />
        </div>
        <div class="input-group input-group-lg" style="width: 100%">
            <input class="form-control" type="text" data-ng-model="password" placeholder="Password" required/><br />
        </div>
        <br />
        <button class="btn btn-large btn-primary btn-block glyphicon glyphicon-floppy-open" ng-click="save()"> Save</button>
    </form>
</div>
